.calculator {
  padding: 10px;
  border-radius: 1em;
  height: 246px;
  width: 373px;
  margin: auto;
  background-color: black;
}

.calculator #display {
  font-family: 'Orbitron', sans-serif;
font-weight: bold;
font-size: medium;
background-color: #969ba1;
color:whitesmoke;
border-radius: 5px;
width: 94%;
height: 11%;
padding: 10px;
}

.calculator table {
  text-align: center;
  margin-top: 15px;
}

.calculator table td {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: medium;
    height: 30px;
    outline: none;
    background: #3c4043;
    color: #e8eaed;
    border: 1px solid #3c4043;
    border-radius: 4px;
    cursor: pointer;
    width: 86px;
    
  }
  
  .calculator table td:hover{
    background-color: #333639;
    color: #eceff2;
    }


#equal {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  width: 86px;
  height: 30px;
  background: #8ab4f8;
  color: #202124;
  border: 1px solid #8ab4f8;
  border-radius: 4px;
}

#equal:hover{
  background-color:  #6399f1;
  color: #07080a;
  }

  #btn {
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(167, 159, 159, 0.228);
    font-weight: bold;
    font-size: medium;
    color: rgb(29, 212, 151);
    cursor: pointer;
    width: 86px;
    height: 30px;
    padding: 1px;
    margin: 10px;
  }
  
  #btn:hover{
    background-color: rgba(111, 98, 98, 0.228);
    color: rgb(13, 220, 151);
    }  
